extends layout

block content
  h1
    a(href=bar.url) 
     p= title
    
  p 
  Strong Rating: 
  = bar.rating
  p 
  Strong Address: 
  p= bar.location.address
  p= bar.location.city
     &nbsp
     =bar.location.state_code
     &nbsp
     =bar.location.postal_code
  p 
  Strong Neighborhoods: 
  = bar.location.neighborhoods
  div#map-canvas
  -var long=Number(bar.location.coordinate.longitude)
  -var lat=Number(bar.location.coordinate.latitude)
  -var key= api
  iframe(width='600', height='450', frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?key='+key+'\
  &q='+ lat +'%2C%20'+ long, allowfullscreen='')

  div.music
    form(action="/itunes/"+ bar._id, method="post")
     label(for="music") Music Search: 
     input(type="text" id="music" name="music")
     label(for="limit") Amount returned: 
     input(type="number" id="limit" name="limit" max=20)
     p
     input#button(type="submit" value="music search")
  div.results
   p=response[0].trackName
    //- h1 What song you would you like played?
    //- form(action="/vote", method="post")
    //-   for item in response
    //-    div.track
    //-     div.img
    //-      img(src=item.artworkUrl100 alt="trackpic")
    //-     div.url
    //-       a(href=item.previewUrl)
    //-        p=item.trackName
    //-     div.select
    //-      label(for="select") Select 
    //-      p
    //-      input(type="radio" name="select" id="select" value=item.trackName)
    //-   p
    //-   input(type="hidden" name=bar.name)
    //-   p
    //-   label(for="date") Date: 
    //-   input(type="date" name="date" id="date")
    //-   p
    //-   input(type="submit" name="vote" value="Add song to playlist")
       
      
  //- div.results
  //-  h1 What song you would you like played?
  //-  for item in response
  //-   div
  //-    p=item.artistName
  //-    a(href=item.previewUrl)
  //-     p=item.trackName
  //script(src="../../javascripts/itunes.js")
  //- form(action="/bars/"+ bar._id, method="post")
  //-  div
  //-   label(for="hhurl") URL: 
  //-   input(type="text" name="hhurl" id="hhurl")
  //-  div
  //-   label(for="hhmenu") Descript
  //-   textarea(id="hhmenu" name="hhmenu")
  //-  div
  //-  label(for="stime") start
  //-  input(type="time" id="stime" name="stime")
  //-  label(for="etime") end
  //-  input(type="time" id="etime" name="etime")
  //-  div
  //-   input(type="submit" value="submit")
